        body {
            font-family: sans-serif;
            margin: 0 auto;
            padding: 2em 2em 4em;
            background-color: #fdfdfd;
        }
        
        input {
            background-color: white;
            border: 1px;
            border-style: solid;
            border-radius: 2px;
            border-color: #c1c1c1;
            padding: 4px;
            margin-top: 2px;
        }
        
        .con {
            font-size: 70%;
            color: #737373;
            margin: 4px;
        }
        
        .discon {
            font-size: 70%;
            color: #ff2d2d;
            margin: 4px;
        }
        
        input:focus {
            transition: 0.2s;
            box-shadow: 0px 0px 1px rgba(54, 54, 54, 0.4);
        }
        
        input:hover {
            transition: 0.2s;
            box-shadow: 0px 0px 1px rgba(54, 54, 54, 0.4);
        }
        
        .box {
            float: left;
            margin: 20px 20px 20px 20px;
            margin-top: 30px;
            padding: 5px 10px 5px 10px;
            background-color: rgba(255, 255, 255);
            /*   background-color: #ffffff; */
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
        }
        
        .boxb {
            float: left;
        }
        
        .boxs {
            /*			float: left;*/
            margin: 20px 20px 20px 20px;
            margin-top: 30px;
            padding: 5px 10px 5px 10px;
            background-color: #ffffff;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
        }
        
        .IO_box {
            margin: 0 20px 20px 0;
            padding: 0 5px 0 5px;
        }
        
        .logoWifi {
            display: block;
            text-indent: -9999px;
            width: 100px;
            height: 82px;
            background: url(wifiIcon24.svg);
            background-size: 100px 82px;
        }
        
        h5 {
            color: #fff;
            margin-top: -20px;
            padding: 10px 20px;
            width: 50%;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
        }
        
        h5 {
            font-family: inherit;
            font-weight: 400;
            line-height: 1.1;
            text-align: center;
        }
        
        .lamph5 {
            background-color: rgb(255, 216, 0);
            /*  rgb(255, 216, 0)  background-color: rgb(255, 247, 58);*/
            color: rgb(255, 255, 255);
            /*  border-color: rgb(209, 54, 54);*/
            /*    color: rgb(51, 51, 51);*/
        }
        
        .mainh5 {
            background-color: rgb(255, 100, 72);
            /*rgb(255, 100, 72)*/
            color: rgb(255, 255, 255);
            /*     border-color: rgb(227, 221, 64);*/
        }
        
        .condh5 {
            background-color: #009688;
            /*rgb(255, 100, 72)*/
            color: rgb(255, 255, 255);
            /*     border-color: rgb(227, 221, 64);*/
        }
        
        .temph5 {
            background-color: rgb(130, 144, 255);
            /* rgb(130, 144, 255)*/
            color: rgb(255, 255, 255);
            /* border-color: rgb(79, 93, 204);*/
        }
        
        .waterh5 {
            background-color: rgb(131, 222, 255);
            color: rgb(255, 255, 255);
            /* border-color: rgb(138, 237, 255);*/
        }
        
        .planth5 {
            background-color: #b5e02a;
            /**/
            color: rgb(255, 255, 255);
            /*  border-color: rgb(138, 237, 255);*/
        }
        
        .curth5 {
            background-color: rgb(191, 102, 247);
            /*background-color: rgb(159, 159, 159);*/
            color: rgb(255, 255, 255);
            /*border-color: rgb(138, 237, 255);*/
        }
        
        .setuph5 {
            background-color: rgb(180, 180, 180);
            /*background-color: rgb(159, 159, 159);*/
            color: rgb(255, 255, 255);
            /*border-color: rgb(138, 237, 255);*/
        }
        
        h1 {
            font-size: 122%;
            color: #313131;
            margin: 0 0 10px 0;
        }
        
        h2 {
            font-size: 17px;
            color: rgb(255, 124, 42);
            margin: 5px 0 5px 0;
        }
        
        p {
            font-size: 15px;
            color: #252525;
        }
        
        .small_text {
            font-size: 70%;
            color: #737373;
        }
        
        .small_texta {
            font-size: 70%;
            color: #737373;
        }
        
        .small_texts {
            font-size: 90%;
            color: #252525;
            float: left;
            margin-top: 24px;
            margin-right: 5px;
        }
        
        .small_textr {
            font-size: 70%;
            color: #ff3a3a;
        }
        
        .small_textg {
            font-size: 70%;
            color: #7cd325;
        }
        
        .small_textb {
            font-size: 70%;
            color: #879eff;
        }
        
        .switch {
            position: relative;
            padding: 0px;
        }
        
        .on {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(255, 216, 0);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onw {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(131, 222, 255);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onp {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(149, 211, 64);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onhu {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: #4FC3F7;
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onc {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(191, 102, 247);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onmn {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(255, 100, 72);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .onwf {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: rgb(255, 126, 31);
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .oncond {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: #009688;
            /*rgb(247, 209, 0);#42c437;*/
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
        }
        
        .s2 {
            cursor: pointer;
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #ff2d2d;
            top: 18px;
            left: 0;
            border-radius: 50px;
            box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.5s;
            margin-left: 80px;
        }
        
        .offwf,
        .offmn,
        .offc,
        .offp,
        .offw,
        .off,
        .offcond,
        .offhu {
            cursor: pointer;
            width: 55px;
            height: 23px;
            position: absolute;
            background-color: #a8a8a8;
            top: 0;
            left: 0;
            border-radius: 50px;
            transition: all 150ms;
            /*            box-shadow:0px 0px 2px rgba(101, 101, 101, 0.4);*/
        }
        
        .off:after,
        .offw:after,
        .offp:after,
        .offc:after,
        .offmn:after,
        .offwf:after,
        .offcond:after,
        .offhu:after {
            content: '';
            width: 21px;
            height: 21px;
            position: absolute;
            top: 1px;
            left: 1px;
            background-color: white;
            border-radius: 50px;
            transition: all 150ms;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }
        
        .on:after,
        .onw:after,
        .onp:after,
        .onc:after,
        .onmn:after,
        .onwf:after,
        .oncond:after,
        .onhu:after {
            content: '';
            width: 21px;
            height: 21px;
            position: absolute;
            top: 1px;
            left: 33px;
            background-color: white;
            border-radius: 50px;
            transition: all 150ms;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }
        
        .s {
            cursor: pointer;
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #a8a8a8;
            top: 18px;
            left: 0;
            border-radius: 50px;
            box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.5s;
            margin-left: 80px;
        }
        
        .buttonC {
            cursor: pointer;
            
            position: absolute;
            /*background-color: #a8a8a8;*/
            /*top: 18px;*/
            left: 0;
            border-radius: 50px;
            box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.5s;
            /*            margin-left: 80px;*/
        }
        
        .buttonC:hover {
            cursor: pointer;
           
            position: absolute;
            
            /*top: 18px;*/
            left: 0;
            border-radius: 50px;
            box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.5s;
            /*            margin-left: 80px;*/
        }
        
        .sbd {
            position: relative;
            margin: 2px;
            float: left;
        }
        
        #texth {
            /*display:block;*/
            width: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            padding: 5px;
            float: left;
            border-right-width: 0px;
            height: 15px;
            text-align: center;
        }
        
        #h {
            margin: 0;
            padding: 0;
            background-color: rgb(255, 255, 255);
            padding: 2px;
            height: 21px;
            width: 50px;
        }
        
        a {
            text-decoration: none;
            color: rgb(255, 124, 42);
        }
        
        .in {
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
            padding-left: 10px;
            padding-right: 10px;
            float: right;
            background-color: rgb(255, 100, 72);
            
        }
        
        .dis {
            visibility: hidden;
            float: right;
        }